/* Material icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/Icons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(/static/Icons-Regular.woff2) format('woff2'),
    url(/static/Icons-Regular.woff) format('woff'),
    url(/static/Icons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


/* Css */

html { box-sizing: border-box; height: 100%; padding: 0; margin: 0; }
*, *:before, *:after { box-sizing: inherit; padding: 0; margin: 0; }
body, #main { height: 100%; overflow: hidden; }
html { font-size: 16px; }
.app {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    height: 100%;
    background: #eee;
    color: #333;
}
.app > * { height: 100%; }
.left-sidebar.expanded {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.left-sidebar.minimized {
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sidebar-burger {
    position: fixed;
    background: #ddd;
    padding: 0.5em;
    text-align: center;
}
.sidebar-burger:hover { background: #bbb; cursor: pointer; }
.sidebar-tabbar {
    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
    padding: 0.0em 1em;
    background: #ddd;
}
.sidebar-tab {
    background: #ccc;
    padding: 0.5em;
    text-align: center;
}
.sidebar-tab:hover { background: #bbb; cursor: pointer; }
.sidebar-tab.active {
    background: #eee;
}
.index { height: 100%; overflow: auto; }
.index-search { width: 100%; padding: 1em; }
.index-entry { padding: 1em; display: flex; justify-content: space-between; align-items: center; }
.index-entry:hover { background: #ddd; cursor: pointer; }
.index-entry:hover .index-entry-label, .index-entry.active .index-entry-label { opacity: 1; }
.index-entry.active { background: #ccc; }
.index-entry-label {
    opacity: 0;
    font-size: 0.8rem;
    padding: 0.25rem;
    background: #eee;
    border-radius: 4px;
}
.index-label { padding: 1em; font-weight: bold; }
.article { padding: 1em; flex: 3; overflow: auto; }
.article-item {
    margin: 1em;
    padding-left: 1em;
    border-left: 4px solid #ddd;
    overflow: hidden;
    position: relative;
}


.todo { background: pink; color: white; padding: 1em; margin-top: 4px; }
.error { background: red; color: white; padding: 1em; margin-top: 4px; }

.side-table {
    float: right;
    margin-left: 2em;
    position: relative;
    z-index: 1000;
    max-width: 400px;
}

.side-table table {
    padding: 0.5em;
    border: 1px solid #ccc;
    table-layout: fixed;
    border-collapse: collapse;
    background: #eee;
    margin-bottom: 1em;
    width: 100%;
}

.align-right {
    text-align: right;
}

th { border-bottom: 1px solid #ccc; }
th.align-right { border-right: 1px solid #ccc; }

th, td { padding: 0.5em; word-wrap:break-word; }

li { margin-left: 2em; }
p,ul { margin-top: 1em; }
/*h1, h2, h3 { margin-top: 1em; }*/
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
blockquote.dark {
    background: #222;
}

blockquote {
    background: #ddd;
    margin: 1.5em 10px;
    padding: 2em 0.5em 0.5em 0.5em;
    white-space: pre-wrap;
    position: relative;
    overflow: visible;
}

blockquote.dark:before {
    color: #eee;
}

blockquote:before {
    content:"\201C";
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font: 6em/1.08em 'PT Sans', sans-serif;
    width: 3rem;
    height: 2rem;
}

blockquote p {
    display: inline;
}
